.hero {
  figure {
    margin-bottom: 0;
  }

  figcaption {
    position: relative;
    bottom: 1rem;
    z-index: 10;
    margin-top: -1.35rem;
  }
  &_backdrop {
    position: relative;
  }

  &_title {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: rgba(2, 35, 28, 0.8);

    h1 {
      font-weight: 800;
      span {
        display: block;
        font-weight: 400;
        font-size: 0.75em;
      }
    }
  }

  &_Img {
    width: 100%;
  }

  &_link {
    &:hover {
      color: currentColor;
      text-decoration: underline;
    }
  }
}
