@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;500;600;800&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --clr-dark: rgb(27, 27, 27);
  --clr-dark-grey: rgb(81, 81, 81);
  --clr-grey: rgb(128, 128, 128);
  --clr-light-grey: rgb(230, 230, 230);
  --clr-light: rgb(249, 249, 249);
  --clr-white: rgb(255, 255, 255);

  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Mukta Vaani', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.4;
  color: var(--clr-grey);
  min-width: 400px;
  background-color: var(--clr-light);
}

@media (min-width: 64em) {
  body {
    font-size: 1em;
  }
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--clr-dark);
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

@media (min-width: 768px) {
  .active {
    border-bottom: solid 3px var(--clr-dark);
    color: var(--clr-dark);
  }
}

.main {
  padding-top: 7rem;
  background-color: var(--clr-light);
}

.overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
